<md-tab-group>
  <md-tab label="New Modeller">
    <md-card class="card">
      <md-card-header>
        <div class="example-header-image"></div>
        <md-card-title>Metric Inputs</md-card-title>
      </md-card-header>
      <md-card-content>
        <form class="main-form" #mainForm="ngForm" (ngSubmit)="onSubmit(mainForm)">
          <span>Project Mode:</span>
          <md-radio-group class="radio-group" required [(ngModel)]="selectedMode" name="modeSelection">
            <md-radio-button class="radio-button" *ngFor="let mode of projectModes" [value]="mode.value">
              {{mode.viewValue}}
            </md-radio-button>
          </md-radio-group>
          <table class="model-table">
            <tr *ngFor="let q of questions">
              <td class="left-column">
                <md-input-container class="wider-input">
                  <input mdInput required type="number" [placeholder]="q.viewValue" [(ngModel)]="q.answer" [name]="q.name">
                </md-input-container>
              </td>
              <td class="right-column">
                <md-select placeholder="Complexity" required [(ngModel)]="q.complexity" [name]="q.complexityName">
                  <md-option *ngFor="let complexity of complexities" [value]="complexity.value">
                    {{complexity.viewValue}} ({{q.complexityValues[complexity.value]}})
                  </md-option>
                </md-select>
              </td>
            </tr>
          </table>
          <button md-raised-button type="submit">Submit</button>

        </form>
      </md-card-content>
    </md-card>
    <md-card class="card" *ngIf="showResult">
      <md-card-header>
        <div class="example-header-image"></div>
        <md-card-title>Results</md-card-title>
      </md-card-header>
      <md-card-content>
        <table class="results-table">
          <tr>
            <th>
              Input Type
            </th>
            <th>
              Complexity
            </th>
            <th class="last-column">
              Totals
            </th>
          </tr>
          <tr *ngFor="let q of questions">
            <td>
              {{q.viewValue}}: {{q.answer}}
            </td>
            <td>
              {{q.complexity}} ({{q.complexityValues[q.complexity] || "none"}})
            </td>
            <td class="last-column">
              {{q.complexityValues[q.complexity]*q.answer || 0}} FP
            </td>
          </tr>
          <tr>
            <td colspan="2">Unadjusted Functional Points:</td>
            <td class="last-column">{{totalAnswer(questions)}} FP</td>
          </tr>
          <tr>
            <td colspan="2">Adjusted Functional Points:</td>
            <td class="last-column">{{totalAnswer(questions)*0.65}} FP</td>
          </tr>
        </table>
      </md-card-content>
    </md-card>
  </md-tab>
  <md-tab label="History">

  </md-tab>
</md-tab-group>
